:root {
    --color-slate-300: rgba(213, 225, 239);
    --color-slate-500: rgba(104, 119, 141);
    --color-slate-900: rgba(31, 49, 79);
    --color-white: rgba(255, 255, 255);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background: var(--color-slate-300);
}

.container {    
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    background: var(--color-white);
    border-radius: 1.25rem;
    padding: 1rem 1rem calc(1.5rem + 2vw) 1rem;
    max-width: 20rem;
}

.card__header {
    margin-block-end: 1.5rem;
}

.card__header img {
    width: 100%;
    border-radius: 0.625rem;
}

.card__body {
    text-align: center;
    padding: 0 1rem;
}

.card__body h1 {
    font-size: 1.375rem;
    font-weight: bold;
    color: var(--color-slate-900);
    line-height: 120%;
    letter-spacing: 0rem;
    margin-bottom: 1rem;
}

.card__body p {
    font-size: 0.938rem;
    font-weight: normal;
    color: var(--color-slate-500);
    line-height: 140%;
    letter-spacing: 0.013rem;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 0.625rem;
    transform: translateX(-50%);
    font-size: 0.75rem;
    text-align: center;
    line-height: 1.3;
}