:root {
    --color-slate-300: rgba(213, 225, 239);
    --color-slate-500: rgba(104, 119, 141);
    --color-slate-900: rgba(31, 49, 79);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Outfit";
    margin: 0;
    padding: 0;
    background: var(--color-slate-300);
}

.container {    
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
    background: #fff;
    border-radius: 20px;
    padding: 16px 16px 40px 16px;
    max-width: 320px;
}

.card__header {
    margin-bottom: 24px;
}

.card__header img {
    width: 100%;
    border-radius: 10px;
}

.card__body {
    text-align: center;
    padding: 0 16px;
}

.card__body h1 {
    font-size: 22px;
    font-weight: bold;
    color: var(--color-slate-900);
    line-height: 120%;
    letter-spacing: 0px;
    margin-bottom: 16px;
}

.card__body p {
    font-size: 15px;
    font-weight: normal;
    color: var(--color-slate-500);
    line-height: 140%;
    letter-spacing: 0.2px;
}

footer {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    font-size: 12px;
    text-align: center;
    line-height: 1.3;
}